[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
  url = https://github.com/syl20bnr/spacemacs
[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = gh:zplug/zplug
