set editing-mode emacs
set bell-style visible


# Bind up and down to incrementally search history
"\e[A": history-search-backward
"\e[B": history-search-forward
# Ensure left and right work as expected with the above.
"\e[C": forward-char
"\e[D": backward-char

"\C-n": menu-complete
