[Unit]
Description=Update all udaan repos locally

[Timer]
; Run this everyday at midnight
OnCalendar=daily
; If midnight was missed due to system being powered off, run after bootup
Persistent=true
; Wait a random time between 0 - 10 min to startup after usual trigger time
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
